/* Landing Page */
.landing {
  position: relative;
  /* background: url('./img/showcase.jpg') no-repeat center center/cover; */
  height: 100vh;
}

.landing-inner {
  color: #fff;
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.x-large {
  font-size: 3rem;
}

.lead {
  font-size: 1rem;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cardStyles {
  -webkit-box-shadow: -1px 4px 19px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 19px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 4px 19px 3px rgba(0, 0, 0, 0.75);
}

.center-all {
  /* flex: 1;
  justify-content: 'center';
  align-items: center; */
  width: '90%';
  border-radius: 10;
}
